.jumbotron
	.container
		h1 Demo Pages
		p This collection of demo pages will show you the various ways that you can validate your data in Stream Analytics	
.container
	.row
		.col-sm-6.col-md-4
			h2 Search Range   
			p This demo shows a page that filters results and shows facets based on an average temperature range.
			p
				a.btn.btn-default(href='#/search', role='button') View demo &raquo;       
		.col-sm-6.col-md-4
			h2 Time Bucket Table          
			p This demo shows a table that can be filtered based on a time bucket
			p
				a.btn.btn-default(href='#/buckets', role='button') View demo &raquo;       
		.col-sm-6.col-md-4
			h2 5 Second BoxPlot     
			p This demo shows a boxplot for each entry within a 5-second period.
			p
				a.btn.btn-default(href='#/chart', role='button') View demo &raquo;       