doctype html
html(ng-app="analyticsApp")
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css')
  body(style="padding-top: 50px; padding-bottom: 20px;")
    nav.navbar.navbar-default.navbar-fixed-top(ng-controller='NavigationController')
      .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation        
              span.icon-bar
              span.icon-bar     
              span.icon-bar   
            a.navbar-brand(href='#/')= title
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li(ng-class="{ active: isActive('/home')}")
                a(href='#/') Home
              li(ng-class="{ active: isActive('/search')}")
                a(href='#/search') Search Page
              li(ng-class="{ active: isActive('/buckets')}")
                a(href='#/buckets') Time Bucket Table
              li(ng-class="{ active: isActive('/chart')}")
                a(href='#/chart') 5 Second BoxPlot
    block content    
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js')
    script(type='text/javascript', src='/angular/angular-app.js')
    script(type='text/javascript', src='/angular/navController.js')
    script(type='text/javascript', src='/angular/chartController.js')
    script(type='text/javascript', src='/angular/bucketsController.js')